body {
    font-family: 'Signika Negative', sans-serif;
    background-color: lightpink;
}

.header {
    background-color: white;
    color: mediumvioletred;
}

.header img {
    width: 100px;
}

.footer_div img{
    width: 100px;
}

.main_div {
    background-color:rgb(233, 142, 187);
    padding: 10px;
    margin-top: 15px;
    border: 3px solid white;
}

.main_div label {
    background-color: white;
    width: 310px;
    padding: 10px;
    margin-bottom: 0px;
    box-shadow: 5px 5px 18px white;
    color: rgb(163, 47, 240);
    font-weight: 900px;
    font-size: 20px;
}

.main_div button {
    width: 310px;
    font-size: 16px;
    box-shadow: 5px 5px 18px white;
    border: 1px solid;
}

#camera , #result {
    border: 2px solid white;
    width: 310px;
    height: 300px;
    box-shadow: 5px 5px 18px white;
}

.footer_div {
    margin-bottom: 60px;
}

.footer_div h4 {
    background:rgb(241, 119, 194);
    border-radius: 10px;
    padding: 5px;
    box-shadow: 5px 5px 18px white;
    width: 70%;
    height: 100px;
    color:white;
    text-align: center;
}

.my_footer {
    position: fixed;
    color: violet;
    bottom: 0;
    width: 100%;
    background-color: snow;
    line-height: 3;
    text-align: center;
}